[% IF session.logged_in %]
	<div class=add>
	<form action="[% update_entry_url %]" method=post >
			<label for=text>Text</label>
			<input type=text size=30 name=title value="[% title_value %]">
			<br /><br />
			<label for=text>Text</label>
			<textarea name=text rows=10 cols=40> [% text_value %] </textarea>
			<br /><br />
			<input type=submit value=update>
			<input type=hidden value="[% rowid %]" name=rowid>
	</form>
	</div>
[% END %]
