<!doctype html>
  <html>
  <head>
    <link rel=stylesheet type=text/css href="[% css_url %]">
  </head>
  <body>
  <div class=register>
    <h2>Register Now</h2>
<form action="[% register_url %]" method=post >
  <dl>
    <dd><input type=text size=30 name=name placeholder="Full Name"></dd>
    <dd><input type=text size=30 name=user placeholder="Username"></dd>
    <dd><input type=password size=30 name=pwd placeholder="Password"></dd>
    <dd><input type=text size=30 name=email placeholder="Email"></dd>
    <dd><input type=submit value=Register class="submit"></dd>
  </dl>
</form>
</div>
</body>
</html>
